@mixin svg-icon($color: false, $width: false, $height: $width, $stroke: false) {
  display: inline-flex;
  flex-shrink: 0;
  width: $width;
  height: $height;

  @if $color {
    fill: $color;
  }

  @if $stroke {
    stroke: $stroke;
  }
}
