//colors
$brand-blue-light: #52fff9;
$brand-blue: #33beff;
$brand-green: #1fcfc9;
$brand-gray-light: #ababab;
$brand-gray: #58595b;
$brand-yellow: #ffa57e;
$brand-orange: #e26834;
$brand-orange-light: #ff7033;
$brand-orange-lighter: #ffb471;
$brand-green-light: #b2c85d;

//partials colors
$footer-bg-color: #4d7491;
